/* accomodation mobile first */

.section__accommodation {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.accommodation__card__picture {
  height: 35vw;
  overflow: hidden;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.accommodation__card__content {
  padding: 0.25rem 0.5rem;
}

.accommodation__picture {
  width: 100%;
  height: auto;
}

.accommodation__picture--1 {
  object-position: 0px -50px;
}

.accommodation__picture--2 {
  object-position: 0px -50px;
}

.accommodation__picture--3 {
  object-position: 0px -50px;
}

.accommodation__picture--4 {
  object-position: 0px -98px;
}

.accommodation__picture--5 {
  object-position: 0px -30px;
}

.accommodation__picture--6 {
  width: 100%;
  height: auto;
  object-position: 0px -185px;
}

.accommodation__more {
  font-size: 4vw;
  padding: 4.5vw 0;
}

/* ~----accommodation touch pad---- */
@media screen and (min-width: 701px) {
  .accommodation__picture--1 {
    object-position: 0px 0px;
  }

  .accommodation__picture--2 {
    object-position: 0px 0px;
  }

  .accommodation__picture--3 {
    height: 100%;
    width: auto;
    object-position: 0px 0px;
  }

  .accommodation__picture--4 {
    object-position: 0px -50px;
  }

  .accommodation__picture--5 {
    height: 100%;
    width: auto;
    object-position: 0px 0px;
  }

  .accommodation__picture--6 {
    object-position: 0px -150px;
  }

  .accommodation__more {
    font-size: 1rem;
    padding: 1.5rem 0;
  }
}

/* &----accommodation view desktop only----*/
@media screen and (min-width: 1025px) {
  .section__accommodation {
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    margin: 1rem;
    background-color: #F2F2F2;
    border-radius: 12px;
    width: 66vw;
  }

  .accommodation__cards {
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .accommodation__card {
    width: 17vw;
    height: 14vw;
    margin: 1.2vw 0.5vw;
  }

  .accommodation__card__picture {
    height: 8vw;
  }

  .accommodation__picture--1 {
    width: 110%;
    height: auto;
    object-position: -10px -37px;
  }

  .accommodation__picture--2 {
    object-position: 0px -30px;
  }

  .accommodation__picture--3 {
    width: 100%;
    height: auto;
    object-position: 0px -40px;
  }

  .accommodation__picture--4 {
    object-position: 0px -70px;
  }

  .accommodation__picture--5 {
    width: 100%;
    height: auto;
    object-position: -5px -15px;
  }

  .accommodation__picture--6 {
    width: 100%;
    height: auto;
    object-position: 0px -170px;
  }

  .accommodation__card__content {
    height: 5vw;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
  }

  .accommodation__more {
    font-size: 1.3vw;
    padding: 3.5vw 0;
  }
}