/* accomodation mobile first */

.section__accommodation {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.accommodation__card__picture {
  height: 35vw;
  overflow: hidden;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.accommodation__card__content {
  padding: 0.25rem 0.5rem;
}

.accommodation__picture {
  width: 100%;
  height: auto;
}

.accommodation__picture--1 {
  object-position: 0px -50px;
}

.accommodation__picture--2 {
  object-position: 0px -50px;
}

.accommodation__picture--3 {
  object-position: 0px -50px;
}

.accommodation__picture--4 {
  object-position: 0px -98px;
}

.accommodation__picture--5 {
  object-position: 0px -30px;
}

.accommodation__picture--6 {
  object-position: 0px -185px;
}

.accommodation__more {
  font-size: 3vw;
}

/* ~----accommodation touch pad---- */
@media screen and (min-width: 701px) {
  .accommodation__picture--1 {
    object-position: 0px 0px;
  }

  .accommodation__picture--2 {
    object-position: 0px 0px;
  }

  .accommodation__picture--3 {
    height: 100%;
    width: auto;
    object-position: 0px 0px;
  }

  .accommodation__picture--4 {
    object-position: 0px -50px;
  }

  .accommodation__picture--5 {
    height: 100%;
    width: auto;
    object-position: 0px 0px;
  }

  .accommodation__picture--6 {
    object-position: 0px -150px;
  }
}

/* &----accommodation view desktop only----*/
@media screen and (min-width: 1025px) {
  .section__accommodation {
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
    margin: 1rem;
    background-color: #F2F2F2;
    border-radius: 12px;
    width: 66vw;
  }

  .accommodation__cards {
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 1rem;
  }

  .accommodation__card {
    width: 18vw;
    height: 14vw;
    margin-bottom: 1vw;
  }

  .accommodation__card__picture {
    height: 8vw;
  }

  .accommodation__picture--1 {

    object-position: -10px -37px;
  }

  .accommodation__picture--2 {
    width: 110%;
    object-position: 0px -50px;
  }

  .accommodation__picture--3 {
    object-position: 0px -30px;
  }

  .accommodation__picture--4 {
    object-position: 0px -70px;
  }

  .accommodation__picture--5 {
    object-position: 0px 0px;
  }

  .accommodation__picture--6 {
    object-position: 0px -100px;
  }

  .accommodation__card__content {
    height: 40%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;

  }

  .accommodation__more {
    font-size: 1.2vw;
  }
}