/* main cards=================================*/

.main__cards {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-around;
}

.main__card {
  background-color: white;
  border-radius: 20px;
  box-shadow: 5px 5px 6px #F2F2F2, -5px -5px 6px #F2F2F2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.25rem;
}

.main__card__picture {
  overflow: hidden;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.main__picture--large {
  height: 100%;
  width: auto;
}

.main__picture--hight {
  width: 100%;
  height: auto;
}

.main__card__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.card__rate {
  display: flex;
  flex-direction: row;
}

.rate__star {
  height: 1.125em;
}

.star--full {
  color: #0065FC;
}

.star--empty {
  color: #F2F2F2;
}

/* *----main view mobile only---- */
@media screen and (max-width: 700px) {
  .main__article__title {
    font-size: 5.8vw;
    padding: 2vh 0;
  }

  .main__card {
    margin: 0.7vh auto;
    height: 50vw;
  }

  .main__card__picture {
    height: 32vw;
  }

  .main__card__content {
    height: 18vw;
    font-size: 3vw;
  }

  .card__title {
    font-size: 4vw;
  }
}


/* ~----main view touch pad only---- */
@media screen and (min-width: 701px) and (max-width: 1024px) {
  .main__cards {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 1.2rem;
  }

  .main__card {
    width: 40vw;
    height: 35vw;
    margin: 0.5rem;
  }

  .card__title {
    font-size: 1rem;
  }

  .main__article__title {
    font-size: 1.5rem;
    padding: 2vh 0;
  }
}

/* &----main view desktop only----*/
@media screen and (min-width: 1025px) {
  main {
    padding: 0 1vw;
  }

  .main__article__title {
    font-size: 2vw;
    padding: 2vh 0;
  }

  .card__title {
    font-size: 1.3vw;
  }
}

/* container first=========================== */

/* &----container first view desktop only----*/
@media screen and (min-width: 1025px) {
  .container__first {
    display: flex;
    flex-direction: row-reverse;
  }
}

