/* popular mobile first */

.popular__header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.popular__card {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem;
  height: 40vw;
}

.popular__card__picture {
  width: 36vw;
  height: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  margin-right: 3.6vw;
  display: flex;
}

.popular__card__content {
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.popular__card__title {
  margin: 1rem 0;
  font-size: 4.8vw;
}

.popular__card__price {
  padding-top: 2vw;
  font-size: 3vw;
}

.popular__card__rate {
  margin-bottom: 1rem;
}

/* ~----popular touch pad---- */
@media screen and (min-width: 701px) {
  .popular__cards {
    flex-flow: row wrap;
  }

  .popular__card {
    margin: 0.5rem;
    width: 45vw;
    height: 20vw;
  }

  .popular__card__picture {
    width: 18vw;
  }

  .popular__card__title {
    font-size: 2.5vw;
  }

  .popular__card__price {
    font-size: 2vw;
  }

}

/* &----popular view desktop only----*/
@media screen and (min-width: 1025px) {
  .section__popular {
    width: 33vw;
    border-radius: 18px;
    margin: 1rem
  }

  .popular__cards {
    display: block;
  }

  .popular__card {
    width: 27vw;
    height: 12vw;
    margin: 2vw auto;
  }

  .popular__card__picture {
    height: 100%;
    margin-right: 1.7vw;
  }

  .popular__card__title {
    font-size: 1.2vw;
  }

  .popular__card__price {
    padding-top: 0.7vw;
    font-size: 1vw;
  }
}