body {
    width: 100vw;
    font-family: 'Raleway', sans-serif;
    font-size: 0.9rem;
}

/* ----HEADER---- */

header {
    margin-bottom: 1rem;
}

.header__top {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 1rem;
    align-items: center;
}

.header__subscription{
    text-align: center;
    color: #0065FC;
    font-weight: 800;
}

/* navigation */

.header__nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

.header__nav > a {
    width: 50%;
    text-align: center;
    padding: 0.8rem;
}

.anchor--accommodation {
    margin-right: 1px;
    border-bottom: 3px solid #0065FC;
    color: #0065FC;
}

.anchor--activities {
    margin-left: 1px;
    border-bottom: 3px solid #F2F2F2;
}

/* ----MAIN---- */

.main__article {
    margin: 1rem 1rem;
    padding: 1.2rem 0;
}

.main__article__title {
    font-weight: 800;
    font-size: 1.3rem;
    padding: 0.75rem 0;
}

.main__cards{
    display: flex;
    flex-direction: column;
    margin: auto auto;
}

.main__card {
    background-color: white;
    border-radius: 20px;
    margin: 0.3rem auto;
    box-shadow: 5px 5px 6px #F2F2F2, -5px -5px 6px #F2F2F2;
}

.main__card__picture {
    overflow: hidden;
}

.card__title {
    font-size: 1rem;
    font-weight: 800;
    margin: 0.75rem 0;
}

.rate__star{
    color: #0065FC;
}

.rate__star--empty{
    color: #F2F2F2;
}

.bold {
    font-weight: 800;
}

/* search bar */

.search__location {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #F2F2F2;
    border-radius: 8px;
    height: 3rem;
    margin: 2rem 0;
}

.search__location__logo {
    background-color: #F2F2F2;
    padding: 5px;
    height: 3rem;
    width: 3rem;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-color: transparent;
}

.search__location__input {
    border-left: none;
    border-right: none;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    height: 3rem;
    width: auto;
    padding-right: 3rem;
}

.search__location__input::placeholder {
    font-weight: 700;
    font-size:large;
    color:black;
}

.search__location__button {
    border: none;
    background-color: #0065FC;
    height: 3rem;
    width: 3rem;
    color: white;
    border-radius: 8px;
}

/* filters of search */

.search__filters {
    margin: 1rem 0;
}

.search__filters__title {
    margin: 0.75rem 0;
    font-weight: 700;
}

.search__filters__choices {
    display: flex;
    flex-flow: row wrap;
    margin-left: 0.5rem;
}

.search__filters__category {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    height: 3rem;
    border-radius: 50px;
    border: 2px solid #F2F2F2;
    border-left: none;
    margin: 0.5rem;
}

.search__filters__button {
    border: 2px solid #DEEBFF;
    border-radius: 50%;
    background-color: #DEEBFF;
    width: 3rem;
    height: 3rem;
    color: #0065FC;
}

.search__filters__label {
    padding: 0.5rem 0.85rem 0.5rem 0.7rem;
    font-weight: 700;
}

/* info of search */

.search__info {
    display: flex;
    flex-flow: row no-wrap;
    align-items: center;
}

/* TODO placer le i sur la première ligne quand info__content passe en multi-lignes */
.search__info__icon{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
}

.search__info__logo{
    width: 1.5rem;
    height: 1.5rem;
    border: 1px solid #F2F2F2;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0.5rem;
    color: #0065FC;
}

.search__info__content {
    width: 80%;
}

/* article POPULAR */

.wrapper__grey {
    background-color:#F2F2F2;
}

.popular__header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

/* popular cards */

.popular__card{
    display:flex;
    flex-flow: row nowrap;
    padding: 0.25rem;
    width: 21rem;
    height: 10 rem;
}

.popular__card__picture {
    width:8rem;
    height: 8.5rem;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.popular__picture--1 {
    width: 170%;
}
.popular__picture--2 {
    width: 150%;
}
.popular__picture--3{
    width: 109%;
}

.popular__card__content {
    width: 55%;
}

.popular__card__rate {
    padding: 2.5rem 0 0.5rem 0;

}

/* article ACCOMMODATION */

.accommodation__card {
    display: flex;
    flex-direction: column;
    width: 21rem;
    height: 12rem;
    padding:0.25rem;
}

.accommodation__card__picture {
    width:100%;
    height: 7rem;
    overflow: hidden;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.accommodation__picture {
    width: 103%;
}

.accommodation__card__content {
    padding: 0 0.5rem;
}

.accommodation__card__rate {
    padding: 0.75rem 0;
}

/* article ACTIVITIES */

.activities__card__picture {
    width:100%;
    object-fit: contain;
}
.activities__picture {
    width: 100%;
}

/* ----FOOTER---- */

footer {
    background-color: #F2F2F2;
}

.footer__wrapper {
    margin: 0 1rem;
    padding: 1rem 0.25rem;
}

.footer__article {
    padding: 0.75rem 0;
}

.footer__title {
    padding: 0.75rem 0;
    font-weight: 700;
}
.footer__nav {
    display: flex;
    flex-direction: column;
}

.footer__link {
    padding: 0.25rem 0;
}