body {
    width: 100vw;
    font-family: 'Raleway', sans-serif;
    font-size: 0.9em;
}

/* ----HEADER---- */

.header {
    margin-bottom: 1em;
}

.header__top {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 1rem;
    align-items: center;
}

.header__subscription{
    text-align: center;
    color: #0065FC;
    font-weight: 800;
}

/* navigation */

.header__nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

.nav__link {
    width: 50%;
    text-align: center;
    padding: 0.8rem;
    min-width: max-content;
    margin: 0 2px;
    border-bottom: 3px solid #F2F2F2;
}

.header__nav__link--active {
    border-bottom: 3px solid #0065FC;
    color: #0065FC;
}

/* ----nav view mobile only---- */

@media screen and (max-width: 989px) {
    .header__nav {
        width:100%;
    }
}


/* ----nav view desktop only----*/

@media screen and (min-width: 990px) {
    .header {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr 97px;
    }
    .header__top {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .header__nav{
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
        margin: 1rem 0;
    }
    .nav__link {
        border-bottom: none;
        border-top: 3px solid #F2F2F2;
    }
    .header__nav__link--active {
        border-top-color: #0065FC;
    }
}

/* ----MAIN---- */

.main__article {
    margin: 1rem 1rem;
    padding: 1.2rem 0;
}

.main__article__title {
    font-weight: 800;
    font-size: 1.3em;
    padding: 0.75em 0;
}

.main__cards{
    display: flex;
    flex-direction: column;
    margin: auto auto;
}

.main__card {
    background-color: white;
    border-radius: 20px;
    margin: 0.3rem auto;
    box-shadow: 5px 5px 6px #F2F2F2, -5px -5px 6px #F2F2F2;
}

.main__card__picture {
    overflow: hidden;
}

.card__title {
    font-weight: 800;
}

.rate__star{
    color: #0065FC;
}

.rate__star--empty{
    color: #F2F2F2;
}

.bold {
    font-weight: 800;
}

/* ----search bar view mobile only---- */

@media screen and (max-width: 989px) {
    .card__title{
        font-size: 5vw;
    }
}

/* ----MAIN view desktop only----*/

@media screen and (min-width: 990px) {
    .card__title{
        font-size: 1.3vw;
    }
}


/* search bar */

.search__location {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #F2F2F2;
    border-radius: 8px;
    height: 3rem;
    width: 21rem;
}

.search__location__logo {
    background-color: #F2F2F2;
    padding: 5px;
    height: 3rem;
    width: 3rem;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-color: transparent;
}

.search__location__input {
    border-left: none;
    border-right: none;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    height: 3rem;
    width: auto;
    padding-right: 3rem;
}

.search__location__input::placeholder {
    font-weight: 700;
    font-size:large;
    color:black;
}

.search__location__button {
    border: none;
    background-color: #0065FC;
    height: 3rem;
    width: 3rem;
    color: white;
    border-radius: 8px;
}

/* ----search bar view mobile only---- */

@media screen and (max-width: 989px) {
    .search__location {
        margin: 2rem auto;
    }
}

/* ----search bar view desktop only----*/

@media screen and (min-width: 990px) {
    .search__location {
        margin: 1rem 0;
    }
}

/* filters of search */

.search__filters {
    margin: 1rem 0;
}

.search__filters__title {
    margin: 0.75rem 0;
    font-weight: 700;
}

.search__filters__choices {
    display: flex;
    flex-flow: row wrap;
    margin-left: 0.5rem;
}

.search__filters__category {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    height: 3rem;
    border-radius: 50px;
    border: 2px solid #F2F2F2;
    border-left: none;
    margin: 0.5rem;
}

.search__filters__button {
    border: 2px solid #DEEBFF;
    border-radius: 50%;
    background-color: #DEEBFF;
    width: 3rem;
    height: 3rem;
    color: #0065FC;
}

.search__filters__label {
    padding: 0.5rem 0.85rem 0.5rem 0.7rem;
    font-weight: 700;
}

/* ----search filters view desktop only----*/

@media screen and (min-width: 990px) {
    .search__filters {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
    }
}

/* info of search */

.search__info {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: start;
}

.search__info__logo{
    width: 1.5rem;
    height: 1.5rem;
    border: 1px solid #F2F2F2;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: start;
    margin: 0 0.5rem;
    color: #0065FC;
}

.search__info__content {
    width: 80%;
    padding-top: 0.25rem;
}

/* article POPULAR */

.wrapper__grey {
    background-color:#F2F2F2;
}

.popular__header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

/* ----popular filters view desktop only----*/
@media screen and (min-width: 990px) {
    .wrapper__popular {
        width: 30%;
        border-radius: 20px;
    }
}

/* popular cards */

.popular__card{
    display:flex;
    flex-flow: row nowrap;
    padding: 0.25em;
    width: 95%;
}

.popular__card__picture {
    width: 40%;
    height: 20vh;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-right: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.popular__picture--1 {
    width: 170%;
}
.popular__picture--2 {
    width: 150%;
}
.popular__picture--3 {
    width: 109%;
}

.popular__card__content {
    width: 55%;
}

.popular__card__title {
    margin: 0.75em 0;
}

.popular__card__rate {
    padding: 2.5em 0 0.5em 0;
}

/* ----popular card picture view desktop only----*/
@media screen and (min-width: 990px) {
    .popular__card__picture {
        height: 15vh;
    }
}

/* article ACCOMMODATION */

.accommodation__card {
    display: flex;
    flex-direction: column;
    width: 21rem;
    height: 12.5rem;
    padding:0.25rem;
}

.accommodation__card__picture {
    width:100%;
    height: 10rem;
    overflow: hidden;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.accommodation__picture {
    width: 103%;
}

.accommodation__card__content {
    padding: 0 0.5rem;
}

.accommodation__card__title {
    padding: 0.5rem 0;
}

.accommodation__card__rate {
    padding: 0.5rem 0;
}

.accommodation__more {
    font-weight: 800;
    margin: 1.7rem 0 0.4rem 0.5rem;
    font-size: 1.2rem;
}

/* article ACTIVITIES */

.activities__card {
    display: flex;
    flex-direction: column;
    width: 21rem;
    height: 12.5rem;
    padding:0.25rem;
}

.activities__card__picture {
    width:100%;
    height: 8rem;
    overflow: hidden;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.activities__picture--1 {
    width: 100%;
    object-position: 0px -21px;
}
.activities__picture--2 {
    object-fit: none;
    object-position: 0px -182px;
}
.activities__picture--3 {
    width: 100%;
    object-position: 0px -26px;
}
.activities__picture--4 {
    width: 100%;
    object-position: 0px -26px;
}
.activities__picture--5 {
    width: 100%;
    object-position: 0px -24px;
}
.activities__picture--6 {
    width: 100%;
    object-position: 0px -40px;
}

.activities__card__title {
    padding: 1.5rem 0.75rem;
}

/* ----FOOTER---- */

footer {
    background-color: #F2F2F2;
}

.footer__wrapper {
    margin: 0 1rem;
    padding: 1rem 0.25rem;

}

.footer__article {
    padding: 0.75rem 0;
}

.footer__title {
    padding: 0.75rem 0;
    font-weight: 700;
}
.footer__nav {
    display: flex;
    flex-direction: column;
}

.footer__link {
    padding: 0.25rem 0;
}

/* ----footer view desktop only----*/

@media screen and (min-width: 990px) {
    .footer__wrapper {
        display: flex;
        flex-direction: row;

    }
    .footer__article {
        margin: 1rem 
    }
    .footer__article:nth-child(2), 
    .footer__article:nth-child(3) {
        margin-left: 11rem 
    }
}