/* TODO vérifier les bold selon les vues*/
body {
    font-family: 'Raleway', sans-serif;
    width: 100%;
    font-size: 0.9em;
}
/* *----layout view mobile only---- */
@media screen and (max-width: 700px) {
    .gutter {
        padding: 1.4vh 4vw;
    }
}
/* &----layout view desktop only----*/
@media screen and (min-width: 1025px) {
    .gutter {
        padding: 1.4vh 1.7vw;
    }
}

/* ----HEADER---------------------------- */
 /* TODO le mettre en position fix ?? */
.header {
    margin-bottom: 2.1vh;
}

.header__top {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width:100%;
}

.header__subscription{
    color: #0065FC;
}

/* &----header view desktop only----*/
@media screen and (min-width: 1025px) {
    .header {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 3fr 2fr 97px;
        margin: 0 1.5vw;
    }
}

/* navigation==================== */

.header__nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.nav__link {
    width: 50%;
    margin: 0 2px;
    display: flex;
    justify-content: center;
}

.nav__link--active {
    color: #0065FC;
}

.nav__item{
    height: min-content;
    margin: auto;
}

/* *----nav view mobile only---- */
@media screen and (max-width: 700px) {
    .header__nav {
        width: 100%
    }
    .nav__link {
        padding: 2vh 3.4vw;
        border-bottom: 3px solid #F2F2F2;
    }
    .nav__link--active {
        border-bottom: 3px solid #0065FC;
    }
}

/* &----nav view desktop only----*/
@media screen and (min-width: 1025px) {
    .header__top {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .header__nav{
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
         grid-row-end: 2;
    }
    .nav__link {
        border-bottom: none;
        border-top: 3px solid transparent;
    }
    .nav__link--active {
        border-top-color: #0065FC;
    }
}

/* ----MAIN------------------------------------------- */

.main__cards{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-around;
}

.main__card {
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 6px #F2F2F2, -5px -5px 6px #F2F2F2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding:0.25rem;
}

.main__card__picture {
    overflow: hidden;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.main__card__content{
    display:flex;
    flex-direction: column;
    justify-content: center;align-items: stretch;
}

.card__rate  {
    display: flex;
    flex-direction: row;
}
.rate__star {
    height: 1.125em;
}

.star--full{
    color: #0065FC;
}

.star--empty{
    color: #F2F2F2;
}

.bold {
    font-weight: 800;
}

/* *----main view mobile only---- */
@media screen and (max-width: 700px) {
    .main__article__title {
        font-size: 5.8vw;
        padding: 2vh 0;
    }
    .main__card {
        margin: 0.7vh auto;
        height: 50vw;
    }
    .main__card__picture {
        height: 32vw;
    }
    .main__card__content{
        height:18vw;
        font-size: 3vw;
    }
    .card__title{
        font-size: 4vw;
    }
}

/* &----main view desktop only----*/
@media screen and (min-width: 1025px) {
    main {
        padding: 0 1vw;
    }
    .main__article__title {
    font-size: 2vw;
    padding: 2vh 0;
}
    .card__title{
        font-size: 1.3vw;
    }
}

/* search ======================== */
.search__location {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    border: 1px solid #F2F2F2;
    border-radius: 8px;
    position: relative;
}

.search__location__logo {
    background-color: #F2F2F2;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-color: transparent;
}

.search__location__input {
    border-left: none;
    border-right: none;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
}

.search__location__input::placeholder {
    font-weight: 700;
    color:black;
    border-color: transparent;
}

.search__location__button {
    border: none;
    background-color: #0065FC;
    height: 100%;
    color: white;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    position: absolute;
    right: 0;
}

/* *----search bar view mobile only---- */
@media screen and (max-width: 700px) {
    .search__location {
        margin-top: 4.8vh;
        height: 7.2vh;
        width: 100%;
        max-width: 400px;
    }
    .search__location__logo {
        background-color: #F2F2F2;
        height: 7.2vh;
        width: 7.2vh;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        max-width: 465px;
    }
    .search__location__input {
        height: 7.2vh;
        padding-left: 2rem;
        width:70%;
    }
    .search__location__input::placeholder {
        font-size: 2.8vh;
    }
    .search__location__button--icon {
        height: 7.2vh;
        width: 7.2vh;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
    }
    .search__location__button--text{
        display: none;
    }
}

/* &----search bar view desktop only----*/
@media screen and (min-width: 1025px) {
    .search__location {
        margin-top: 2vh;
        margin-bottom: 2vh;
        min-width: 265px;
        width: 33vw;
        max-width: 355px;
        height: 2.5rem;
    }
    .search__location__logo {
        height: 2.5rem;
        width: 2.5rem;
    }
    .search__location__input {
        border: none;
        padding-left: 5%;
        font-size: 1.2rem;
    }
    .search__location__button--icon {
        display: none;
    }
    .search__location__button--text{
        width: auto;
        height: 100%;
        padding: 0.8rem;
    }
}

/* filters of search========================= */

.search__filters {
    margin: 2.4vh 0;
}

.search__filters__title {
    margin: 1.8vh 0;
    font-weight: 700;
}

.search__filters__choices {
    display: flex;
    flex-flow: row wrap;
}

.search__filters__category {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    height: 3rem;
    border-radius: 50px;
    border: 2px solid #F2F2F2;
    border-left: none;
    margin: 1.2vh;
}

.search__filters__button {
    border: 2px solid #DEEBFF;
    border-radius: 50%;
    background-color: #DEEBFF;
    width: 3rem;
    height: 3rem;
    color: #0065FC;
}

.search__filters__label {
    padding: 0.5rem 0.85rem 0.5rem 0.7rem;
    font-weight: 700;
}

/* *----search filter view mobile only---- */
@media screen and (max-width: 700px) {
    .search__filters__choices {
        margin-left: 3.2vw;
    }
}

/* &----search filters view desktop only----*/
@media screen and (min-width: 1025px) {
    .search__filters {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
    }
    .search__filters__category{
        margin: auto 1rem;
    }
    .search__filters__label {
        padding: 0.5rem 0.85rem 0.5rem 0.7rem;
        font-weight: 700;
    }
    .search__filters__title {
        font-size: 1.2rem;
    }
    .search__filters__label {
        font-size: 1.2rem;
    }

}

/* info of search=========================== */

.search__info {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: start;
}

.search__info__logo{
    width: 1.5rem;
    height: 1.5rem;
    border: 1px solid #F2F2F2;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: start;
    margin: 0 0.5rem;
    color: #0065FC;
}

.search__info__content {
    padding-top: 0.6vh;
}

/* container first=========================== */

/* &----container first view desktop only----*/
@media screen and (min-width: 1025px) {
    .container__first {
        display: flex;
        flex-direction: row-reverse;
    }
}

/* article POPULAR======================*/

.wrapper__grey {
    background-color:#F2F2F2;
}

.popular__header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.popular__card{
    display:flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0.25rem;
}

.popular__card__picture {
    width: 40%;
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-right: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popular__picture--1 {
    width: 170%;
}
.popular__picture--2 {
    width: 200%;
}
.popular__picture--3 {
    width: 109%;
}


.popular__card__content{
    height: 100%;
    width:60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* *----popular card view mobile only---- */
@media screen and (max-width: 700px) {
    .popular__card{
        height: 40vw;
    }
    .popular__card__title {
        margin: 1rem 0;
        font-size: 4.8vw;
    }
    .popular__card__price {
        padding-top: 2vw;
        font-size: 3vw;
    }
}

/* &----popular view desktop only----*/
@media screen and (min-width: 1025px) {
    .article__popular {
        width: 35%;
        border-radius: 18px;
        margin: 1rem
    }
    .popular__card{
        width: 90%;
        height: 10vw;
        margin: 2vh auto;
    }
    .popular__card__picture {
        height: 100%;
    }
    .popular__picture{
        height: 100%;
    }
    .popular__card__price {
        padding-top: 0.7vw;
    }
}

/* article ACCOMMODATION====================== */

.accommodation__card__picture {
    width:100%;
    overflow: hidden;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.accommodation__picture {
    width: 103%;
}

.accommodation__card__content {
    padding: 0.25rem 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-around;
}

/* *----accommodation view mobile only---- */
@media screen and (max-width: 700px) {
    .article__accommodation {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .accommodation__card{
        margin: 2vw auto;
    }
    .accommodation__more {
        font-size: 3vw;
    }
}

/* &----accommodation view desktop only----*/
/* TODO mettre un shadow sur les cartes*/
@media screen and (min-width: 1025px) {
    .article__accommodation {
        display:flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: flex-start;
        margin: 1rem;
        background-color: #F2F2F2;
        border-radius: 12px;
        width: 66%;
    }
    .accommodation__cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 1rem;
    }
    .accommodation__card{
        flex-basis: 30%;
        height: 14vw;
        margin-bottom: 1.5vw;
    }
    .accommodation__card__picture{
        height: 60%;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
    .accommodation__more {
        font-size: 1.2vw;
    }
}
/* article ACTIVITIES======================= */
/* TODO vérifier le shadow*/
.activities__card__picture {
    width:100%;
}

.activities__picture--1 {
    width: 100%;
    object-position: 0px -21px;
}
.activities__picture--2 {
    /*TODO régler la taille*/
    width: 100%;
    object-position: 0px -182px;
}
.activities__picture--3 {
    width: 100%;
    object-position: 0px -26px;
}
.activities__picture--4 {
    width: 100%;
    object-position: 0px -26px;
}
.activities__picture--5 {
    width: 100%;
    object-position: 0px -24px;
}
.activities__picture--6 {
    width: 100%;
    object-position: 0px -40px;
}

.activities__card__title {
    padding: 1.5rem 0.75rem;
}

/* *----activities view mobile only---- */
@media screen and (max-width: 700px) {
    .activities__card{
        margin: 4vw;
    }
}

/* &----activities view desktop only----*/
@media screen and (min-width: 1025px) {
    .activities__cards {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    .activities__cards--solo {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    .activities__cards--duo {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        width: 20%;
    }
    .activities__card {
        padding: 0;
        width: 22vw;
        height: 15vw;
    }
    .activities__card--spread {
        height: 100%;
    }
/* TODO ajuster l'image*/
    .activities__picture--1{
        height: 110%;
        width: 220%;
        object-position: -180px -10px;
    }
    .activities__picture--4{
        height: 110%;
        width: 220%;
        object-position: -180px -10px;
    }
    .activities__card__title {
        margin-left: 1rem;
        padding: 0;
    }
}

/* ----FOOTER------------------------------------------ */

footer {
    background-color: #F2F2F2;
}

.footer__wrapper {
    margin: 0 1rem;
    padding: 1rem 0.25rem;

}

.footer__article {
    padding: 0.75rem 0;
}

.footer__title {
    padding: 0.75rem 0;
    font-weight: 700;
}
.footer__nav {
    display: flex;
    flex-direction: column;
}

.footer__link {
    padding: 0.25rem 0;
}

/* &----footer view desktop only----*/
@media screen and (min-width: 1025px) {
    .footer__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-right: 25%;
    }
    .footer__article {
        margin: 1rem 
    }
    .footer__article:nth-child(2), 
    .footer__article:nth-child(3) {
        margin-left: 11rem 
    }
}